---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import FeaturesLink from '~/components/widgets/FeaturesLink.astro';

import { headerData } from '~/data';
import { getJoinPermalink } from '../utils/permalinks';


const meta = {
  title: 'PLEBNET.DEV Projects',
};
---

<Layout {meta}>
  <Fragment slot="header">
    <Header
      {...headerData}
      actions={[
        {
          type: "primary",
          text: 'Join Us',
          href: getJoinPermalink(),
        },
      ]}
      isSticky
    />
  </Fragment>

   <!-- Features3 Widget ************** -->
  <!-- find icon list at: https://icones.js.org/collection/flat-color-icons -->

  <span class="iconify" data-icon="cryptocurrency-color:btc" data-inline="false" style="color: #888888"></span>

   <FeaturesLink
   title="Projects"
   subtitle="Engage with projects that members are working on. Have a project you are building and want to share it? Looking for new contributors? Add yours here!"
 
   items={[
      {
       title: 'Open Projects',
       description:'A list of member driven open projects',
       link:'https://plebnetdev.notion.site/Open-Projects-List-2f89eafb6829424aa8a86183d74066b9',
       icon:'flat-color-icons:advertising',
     },
     {
       title: 'Bitcoin Core',
       description: 'Layer 1 of the Bitcoin protocol',
       link:'https://github.com/bitcoin',
       icon: 'btc',
     },
     {
       title: 'Core Lightning',
       link:'https://github.com/ElementsProject/lightning',
       description:'Layer 2 of the Bitcoin Protocol',
       icon: 'flat-color-icons:flash-on',
     },
     {
       title: 'LND',
       link:'https://github.com/lightninglabs/',
       description:'Layer 2 of the Bitcoin Protocol',
       icon: 'flat-color-icons:flash-on',
     },
     {
       title: 'Plebnet Playground',
       description: 'Testnet/Signet docker playground for bitcoin layers and applications',
       link: 'https://github.com/plebnet-playground',
       icon: 'flat-color-icons:todo-list',
     },
     {
       title: 'LNBits',
       description: 'Free Open-Source Bitcoin Lightning Accounts System with Extensions',
       link:'https://github.com/LNBits/LNBits',
       icon: 'lnbits',
     },
     {
       title: 'Nostr',
       link:'https://github.com/nostr-protocol/nostr',
       description:'Notes and Other stuff transmitted over relays',
       icon: 'nostr_logo_prpl',
     },
     {
       title: 'BTCPay Server',
       description:'Bitcoin and Lightning payments server',
       link: 'https://github.com/btcpayserver/btcpayserver',
       icon: 'btcpay-logo',
     },
     {
       title: 'Signet Faucet',
       description:'Coming Soon...',
       link: 'https://github.com/lightningames/faucet/',
       icon: 'faucet-drip',
     },

    //  {
    //   title:'',
    //   description:'',
    //   icon: 'flat-color-icons:document',

    //  }
   ]}
 />


</Layout>
