---
import Layout from '~/layouts/PageLayout.astro';
const title = `Donate`;
---

<Layout meta={{ title }}>
  <section class="flex items-center h-full p-4">
    <div class="container flex flex-col items-center justify-center px-5 mx-auto">
      <div class="max-w-md text-center">
        <h2 class="mb-4 font-bold text-4xl">
            Member Services
        </h2>

        <div class="container items-center justify-center py-8 mb-8 mx-auto">
            <p class="text-2xl"> Coming soon!</p>
        </div>

      </div>
    </div>
</section>
</Layout>

