---
const { event } = Astro.props;
---

<div class="px-3 py-3 max-w-lg mx-auto">
  <h3 class="text-xl font-semibold leading-6 mb-1">{event.name}</h3>
  <p class="font-light sm:text-lg text-gray-400 mb-1">Date: {event.date}</p>
  <p class="font-light sm:text-lg text-gray-400 mb-1">Location: {event.location}</p>
  <p class="font-light sm:text-lg text-gray-400 mb-1">
    Description: {event.description.includes('http') ? event.description.split('http')[0] : event.description}
  </p>
  {
    event.description.includes('http') && (
      <a href={'http' + event.description.split('http')[1]} target="_blank">
        {'http' + event.description.split('http')[1]}
      </a>
    )
  }
  <br /><br />
</div>
