---
import Layout from '~/layouts/PageLayout.astro';
const title = `Donate`;
---

<Layout meta={{ title }}>
  <section class="flex items-center h-full p-4">
    <div class="container flex flex-col items-center justify-center px-5 mx-auto">
      <div class="max-w-md text-center">
        <h2 class="mb-4 font-bold text-4xl">
            Donate!
        </h2>
        <p> Every satoshi will help us grow our community</p>
      </div>
    </div>
</section>
<section class="flex items-center justify-center my-8">
    <iframe
    src="https://sats.lnaddy.com/tipjar/6"
    width="800"
    height="600"
  ></iframe>

</section>
</Layout>

<!--    src="https://ln.plebnet.dev/tipjar/6"
 -->