---
import Layout from '~/layouts/PageLayout.astro';
import Brands from '~/components/widgets/Brands.astro';
import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';

import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

import {getJoinPermalink } from '../utils/permalinks';
import electricBitcoinImage from '~/assets/images/electricbitcoin.jpg';
import caos from '~/assets/images/caos.jpg';
import laptops from '~/assets/images/laptops.avif';

import { headerData } from '~/data';

// import Note from '~/components/widgets/Note.astro';
// import Features from '~/components/widgets/Features.astro';
// import Features2 from '~/components/widgets/Features2.astro';
// import Steps from '~/components/widgets/Steps.astro';
// import FAQs from '~/components/widgets/FAQs.astro';
// import Stats from '~/components/widgets/Stats.astro';


const meta = {
  title: 'PLEBNET.DEV Home',
};
---

<Layout metadata={meta}>
  <Fragment slot="header">
    <Header
      {...headerData}
      actions={[
        {
          type: "primary",
          text: 'Join Us',
          href:  getJoinPermalink(),
        },
      ]}
      isSticky
    />
  </Fragment>


  <!-- Hero Widget ******************* -->

  <Hero2
    callToAction={{ text: 'Join Us', href:  getJoinPermalink() }}
    callToAction2={{ text: 'Learn More', href: '#more' }}
    image={{ src: electricBitcoinImage, alt: 'Plebnet.dev Hero Image' }}
  >
    <Fragment slot="title">
      Build the <br/> 
      <span class="text-accent dark:text-orange-400 highlight"> ₿itcoin and ⚡️ Lightning</span> 
      Future
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Plebnet.dev</span> 
      is a Bitcoin-centric group dedicated to shaping the future through 
      open source Bitcoin and lightning infrastructure.
        </span>
      <span class="block mb-1 sm:hidden font-bold text-blue-600">
        Plebnet.dev: Where developers come together.</span>
    </Fragment>

  </Hero2>

  <!-- Note Widget ******************* -->

  <!-- Features Widget *************** -->

  <!-- Content Widget **************** -->

  <span id="more"> </span>
  <Content
    isReversed
    items={[
      {
        title: 'Code Mentors',
        description:
        "Experienced Bitcoin and Lightning devs who want to give back and grow new talent",
        icon: 'tabler:bolt',
        },
      {
        title: 'Seeking Mentoring',
        description:
        'Plebians who are new to open source, or who are freshly out of bootcamp or code school, and are looking to contribute to their first OSS project',
        icon: 'tabler:bolt',
      },
      {
        title: 'New Open Source Project Developers',
        description:
        'Are you Starting a new OSS project in bitcoin or lightining, and are you looking for new Contributors? This is the place to be.',
        icon: 'tabler:bolt',
      },
      {
        title: 'Showcase your Skills', 
        description: 
        ' Any member can run a Workshop or a virtual event. Write about your experiences on our blog, or add your contributions to our monthly blog post. This organization belongs to you, the developers!',
        icon: 'tabler:bolt',
      }
    ]}
    image={{
      src: caos,
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Engage with Developers Worldwide 
      </h3>
      Who is Plebnet.dev for? 
    </Fragment>
  </Content>

  <span id="more"> </span>
  <Content
    items={[
      {
        title: 'Resource Toolkit',
        description: 'Leverage ready to go tools and resources to accelerate development and testing in bitcoin, lightning, nostr and more.',
        icon: 'tabler:bolt',
      },
      {
        title: 'Peer to Peer learning',
        description:
        'Learn by doing: work on open issues inside and outside the community. Test code, edit docs. Avoid tutorial hell. Get feedback and peer support which are key to success!',
        icon: 'tabler:bolt',
      },
      {
        title: 'Bounties',
        description:
        "New to Bitcoin? Sharpen your skills by working on bounties listed by our partners. Be in touch with industry PMs, devs, and veterans. Get a taste of what its like to work in the space.",
        icon: 'tabler:bolt',
        },
      {
        title: 'Need a Consultation?',
        description:
        'Perhaps you are not a developer, and looking to get advice? Or perhaps you are coming from another industry? Book a private session with an expert.',
        icon: 'tabler:bolt',
      },

    ]}
    image={{
      src: laptops,
      alt: 'Colorful Image',
    }}
  >
  </Content>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Find out more in our blog"
    information={`The blog is used for Plebnet.dev articles.
                        Each new article will be an valuable step
                        in a pleb's bitcoin and lightning developer journey.
                `}
  />

  <!-- partnerships -->

  <Brands
      title="Partnerships & Collaborations"
      subtitle=""
      icons={[]}
      images={[
        {
          href: 'https://shop.lightnin.games',
          src: 'images/supporters/light_lngames.png',
          alt: 'Lightning Games',
        },

        {
          href: 'https://getalby.com/',
          src: 'images/supporters/darkalby.png',
          alt: 'Alby',
        },
        {
          href: 'https://stakwork.com/',
          src: 'images/supporters/logo-stak.svg',
          alt: 'StakWork',
        },
        {
          href: 'https://sphinx.chat/',
          src: 'images/supporters/Sphinx-Logo-V1.png',
          alt: 'Sphinx',
        },
    ]}
  />

  <!-- CallToAction Widget *********** -->
  <CallToAction
  actions={[
    {
      variant: 'primary',
      text: 'Let\'s Go',
      href: getJoinPermalink(),
      icon: 'tabler:arrow-big-right-line',
    },
  ]}>
  <Fragment slot="title">
    <span class="sm:whitespace-nowrap"> Join The Community</span>
  </Fragment>
  <Fragment slot="subtitle">
    Don't waste more time!
  </Fragment>
</CallToAction>

</Layout>
