---
import { SITE } from '~/utils/config';
---
<img src="/images/icon-orange-transparent.png" width="65" height="65"/> 
<span class="self-center ml-2 text-2xl md:text-2xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
  <b>  {SITE?.name}</b>
 </span>
